
  @import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;600&family=Outfit:wght@400;700&display=swap');

* {
  line-height: 1.5;
  font-family: 'Mulish', sans-serif;
}

.custom-shape-divider-top-1680595223 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 2;
}

.custom-shape-divider-top-1680595223 svg {
  position: relative;
  display: block;
  width: calc(125% + 1.3px);
  height: 130px;
}

.custom-shape-divider-top-1680595223 .shape-fill {
  fill: #F957B0;
}

.hidden{
  position: relative;
  opacity: 0;
  transform: translateX(-100%);
  filter: blur(5px);
  transition: all 0.8s;
}
  
  
.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0%);
}

@media(prefers-reduced-motion) {
  .hidden:not(.inv-bubble) {
    transition: none;
  }
}

.col:nth-child(1) {
  transition-delay: 200ms;
}

.col:nth-child(2) {
  transition-delay: 400ms;
}

.col:nth-child(3) {
  transition-delay: 600ms;
}

.logop:nth-child(1) {
  transition-delay: 200ms;
}

.logop:nth-child(2) {
  transition-delay: 400ms;
}

.logop:nth-child(3) {
  transition-delay: 600ms;
}

.logop:nth-child(4) {
  transition-delay: 800ms;
}

.logo {
    color: #F957B0;
  }
  
  .logospan {
    color: #1D9BF0;
  }
  
  .logo:hover {
    color: #1D9BF0;
  }
  
  .logospan:hover {
    color: #F957B0;
  }
  
  .container-fluid{
    h2 {
        span {
            font-size: 40px;
        }
    }
  }
  
  .section, .sectionimg {
    height: 50vh;
  }
  
  .section {
    padding-top: 100px;
  }
  
  .sectionimg {
    padding-top: 0px;
    width: 50% !important;

    img {
        margin-left: 200px;
      }
  }
  body {
    overflow-x: hidden;
  }

  
  
  .card-full {
    display: flex;
    justify-content: center;
  }
  
  h3{
    text-align: center;
    padding: 20px;
    padding-top: 100px;

    a {
        text-decoration: none;
        color: white;
      }

    :hover {
        text-decoration: underline;
      }
  }
  
  .card {
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
  }
  
  .all-card {
    height: 100vh;
    padding: 20px;
  }
  
  .section-fluid {
    margin-top: 200px;
    margin-left: 30px;
    margin-right: 30px;
    height: 70vh;
  }
  
  .color-fluid {
    height: 220vh;
    background: linear-gradient(#F957B0, white);

    h3 {
        color: white;
      }
  }
  
  .last {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
  }

  @media only screen and (max-width: 764px) {
    .sectionimg img {
      display: none;
    }
    .f {
      height: 50vh;
      text-align: center;
    }
    .last {
      width: 40% !important;
    }
    .all-card {
      height: 230vh;
    }
  }

  .all-card {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none; /* Hide scrollbar for Firefox */
    -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
  }
  
  .card {
    flex: 0 0 auto;
    margin-right: 10px;
  }


  


  .navbar, .container-fluid, .shad, .all-card, .color-fluid, .section-fluid, .card, .f {
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

/* Set the width of the scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

/* Set the color of the scrollbar */
::-webkit-scrollbar-thumb {
  background-color: #F957B0;
}

/* Set the color of the scrollbar track */
::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

/* For Firefox */
* {
  scrollbar-color: #F957B0 #f5f5f5;
  scrollbar-width: thin;
}

.q {
  background-color: #fff;
}

.custom-shape-divider-top-1680608574 {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 2;
}

.custom-shape-divider-top-1680608574 svg {
  position: relative;
  display: block;
  width: calc(147% + 1.3px);
  height: 117px;
}

.custom-shape-divider-top-1680608574 .shape-fill {
  fill: #fff;
}

.a {
  transform: rotate(180deg);
  background-color: #F957B0;
}

.svg {
  svg {
    width: 30%;
  }
  .svgtwo {
    float: right;
    margin-right: -90px;
    z-index: -5;
    transform: rotate(130deg);
  }
}

.svgone {
  float: left;
  margin-left: -90px;
  z-index: -5;
}

.bg {
  background: linear-gradient(#1D9BF0, white);
}

.custom-shape-divider-top-1680903971 {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1680903971 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 66px;
}

.custom-shape-divider-top-1680903971 .shape-fill {
  fill: #fff;
}

.slidt {
  transform: rotate(180deg);
}